@model LNDLWcfService.CodeFirstEntities.OrderToSupplier

<div>
    <h4>OrderToSupplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.purchaseOrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchaseOrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salesOrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salesOrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderPDFPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderPDFPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
