@model IEnumerable<LNDLWcfService.CodeFirstEntities.OrderToSupplier>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.purchaseOrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salesOrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderPDFPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salesOrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderPDFPath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
