@*@model IEnumerable<LNDL.EFDAL.tblUsers>*@
@model LNDL.EFDAL.tblUsers
@{
    ViewBag.Title = "LoginMyUser";
}

<h2>LoginMyUser</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter User Credential</legend>

        <div class="editor-lable">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-lable">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.logOnTries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isLocked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lockedDate)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logOnTries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isLocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lockedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
