@model LNDLWcfService.CodeFirstEntities.OrderFromCustomer

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderFromCustomer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.purchaseOrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchaseOrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salesOrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salesOrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onLineOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onLineOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
