@model IEnumerable<WcfProductService.EFDAL.tblProduct>

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productSubType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productSubType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
