<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hywin DB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--MQ for click function NOT reacting only after second click-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
</head>
<body>
    <style>
        .mybackground {
            background-color: blue;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top mybackground">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Admin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <b class="navbar-brand">Admin</b>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu mybackground" role="menu">
                            <li>@Html.ActionLink("Configuration", "Configuration", "Admin")</li>
                            <li>@Html.ActionLink("Setting", "Settings", "Admin")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<span class="caret"></span></a>
                        <ul class="dropdown-menu mybackground" role="menu">
                            <li>@Html.ActionLink("Users", "Users", "Manage")</li>
                            <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                            <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                            @*<li>@Html.ActionLink("CustomerCustomer", "Index", "Customer")</li>*@
                            @*<li>@Html.ActionLink("Suppliers", "Suppliers", "Manage")</li>*@
                            <li>@Html.ActionLink("Products", "Index", "Product")</li>
                            <li>@Html.ActionLink("Manufacture", "Manufacture", "Manage")</li>
                            <li>@Html.ActionLink("Shipping", "Index", "Ship")</li>
                            <li>@Html.ActionLink("Inventory", "Index", "Inventory")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order<span class="caret"></span></a>
                        <ul class="dropdown-menu mybackground" role="menu">
                            <li>@Html.ActionLink("New Order", "NewOrder", "Order")</li>
                            <li>@Html.ActionLink("Order From Customer", "Index", "OrderFromCustomer")</li>
                            <li>@Html.ActionLink("Order To Supplier", "Index", "OrderToSupplier")</li>
                            <li>@Html.ActionLink("Order In Sample", "OrderInSample", "Order")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Sales", "Index", "Sale")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Admin")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>